torch==2.2.1
torchvision==0.17.1
lightning==2.1.2
transformers==4.35.2
diffusers==0.24.0
accelerate==0.25.0
datasets==2.17.0
torch_pruning==1.3.2
bitsandbytes==0.42.0
traker==0.1.3
fast-jl==0.1.3
pytorch_fid
tqdm
argparse
pre-commit
toml
scipy
ftfy
regex
wandb
pynvml
clip @ git+https://github.com/openai/CLIP.git
open-clip-torch
scikit-image
scikit-learn
matplotlib
